.body {
    font-family: sans-serif;
    display: flex;
    flex-wrap: wrap;
}

.caster-container {
    display: inline-block;
    background-color: #212121;
    color: white;
    font-size: 25px;
    height: fit-content;
    width: fit-content;
    padding: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.scoreboard {
    display: inline-block;
    background: #212121;
    padding: 10px;
    color: white;
    font-size: 30px;
    height: fit-content;
    margin-bottom: 15px;
}

.score-team-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.score-color {
    height: 30px;
    width: 10px;
    margin-right: 5px;
}

.white-sep {
    height: 5px;
    background-color: white;
}

.score-footer {
    margin-top: 10px;
}


.maplist-container {
    padding: 10px;
    color: white;
    font-size: 20px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    background-color: #212121;
    height: fit-content;
    margin-bottom: 15px;
    margin-right: 15px;
}

.maplist-container .white-sep {
    margin: 5px 0;
}

.maplist-header {
    text-align: center;
}

.map-container {
    display: flex;
    margin-bottom: 5px;
}

.map-mode {
    margin-right: 15px;
}

.roster-container {
    background-color: #212121;
    color: white;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    margin-bottom: 15px;
}

.roster-team-container{
    margin: 15px;

}

.sendou-module {
    background-color: #031e3e;
    color: white;
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: fit-content;
}

.sendou-team {
    margin: 15px;
}

.sendou-header {
    text-align: center;
    font-size: 30px;
}

.sendou-player-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

.sendou-player-name {
    margin-left: 5px;
    font-size: 30px;
}

.sendou-player-weapons, .peak-x, .peak-league {
    margin: 10px auto;
}
